*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffbfa;
    color: #ffa7c2;
    font-family: "Inconsolata", monospace;
}

h1, h3, span{
    color: #fd6b9e;
    font-family: "Maven Pro", sans-serif;
}
